@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

body {
    background-color: #0f0f0f;
}

.explicit-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    color: #0f0f0f;
    font-size: 11px;
    border-radius: 2px;
    background-color: #c2c2c2;
}
